* {box-sizing: border-box;}

body { 
  margin: 0;
  overflow: auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #111111;
}

.header {
  position: fixed;
  width: 100%;
  /*background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,60,1) 30%, rgba(255,255,255,1) 100%);*/
  background: black;
  padding: 10px 10px;
  z-index: 1000000;
}

a {
  color: cyan;
  text-align: center;
  position: relative;
  text-decoration: none;
  font-size: 18px; 
}

a:hover {
  background-color: #aaa;
  color: black;
}

a:active {
  background-color: white;
  color: black;
}

.header .logo {
	float: left;
	padding: 10px;
	width: 100px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.info{
	outline: none;
	margin: 10px;
	padding: 10px 30px;
	border-radius: 10px;
	background-color: #dddddd;
  text-align: center;
}

.typeInfo {
  // border-color: black;
  // border: 2px solid;
  display: inline-block;
  background-color: #111111;
  color: white;
  padding: 10px;
  border-radius: 5px;
  // line-height: 0.5;
  width: 10%;
}

#typeInput {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 10px; line-height: 50%; 
  width: 40%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

#template{
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: left;
  margin-top: 10px;
  padding: 10px 20px; 
  font-size: 150%;
}

#templateText{
  line-height: 2;
  padding: 0px;
  height: 170px;
  margin: 0 auto;
  overflow-y: hidden;
  font-family: Consolas, Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
